* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  body {
    padding: 1rem;
    width: 100%;
    background-color: #fdf9ec;

    .form-section{
      width: 80%;
      background-color: #ff9d65;
      border-radius: 20px;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%,-50%);
      
      .form-contact{
        padding: 1rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;

        div{
          display: flex;
          gap: 0.4rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          label{
            font-size: 1.2rem;
          }
          input{
            width: 100%;
            border: none;
            outline: none;
            height: 4vh;
            border-radius: 10px;
            padding: 1.1rem 1.5em;
            background-color: wheat;
          }
          .putOn{
            width: 40%;
            padding: 0.5rem;
            border-radius: 10px;
            background-color: rgb(166, 219, 166);
            border: none;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out;
          }
          .putOn:hover{
            background-color: #cbbc49;
          }
        }
      }
    }
  }
  // @media (min-width: 1000px) {
  //   body{
  //     .form-section{
  //         width: 35%;
  //       .form-contact{

          
  //       }
  //     }
  //   }
  // }